// below large screen mobile side bar will be visible

// Define breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xLarge: 1200px;
$breakpoint-2xLarge: 1440px;
$breakpoint-3xLarge: 1600px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.root-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  column-gap: 2rem;
  padding: 0 1rem;

  @media screen and (min-width: $breakpoint-small) {
    padding: 0 1.5rem;
  }
  @media screen and (min-width: $breakpoint-medium) {
    grid-template-columns: 6fr 4fr;
  }

  @media screen and (min-width: $breakpoint-large) {
    grid-template-columns: 220px 5fr 5fr;
  }
  @media screen and (min-width: $breakpoint-xLarge) {
    grid-template-columns: 220px 5fr 5fr;
  }

  @media screen and (min-width: $breakpoint-2xLarge) {
    grid-template-columns: 220px 7fr 3fr;
  }

  .left-col {
    display: none;

    @media screen and (min-width: $breakpoint-large) {
      display: block;
    }

    .col-top {
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: $breakpoint-large) {
        justify-content: flex-start;
        padding-left: 15px;
      }

      .logo-text {
        background-color: #4e449a;
        border-radius: 50%;
        display: grid;
        place-items: center;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        font-size: 1.2rem;
        height: 35px;
        width: 35px;
      }

      .info-text {
        padding-left: 2rem;
        cursor: pointer;
        padding-left: 0.8rem;

        h4 {
          color: #4e449a;
          font-size: 1.2rem;
          font-weight: 800;
        }
      }
    }

    .content {
      min-height: calc(100vh - 110px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .six-button,
    .four-button {
      @media screen and (min-width: $breakpoint-large) {
        padding-right: 2rem;
      }
      @media screen and (min-width: $breakpoint-xLarge) {
        padding-right: 2rem;
      }

      .buttonContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        gap: 2rem;
      }

      .single-button-container {
        display: grid;
        place-items: center;
        margin-bottom: 0.5rem;
        width: 100%;
        cursor: pointer;

        button {
          background-color: #eceff7;
          border: none;
          width: 50px;
          height: 50px;
          border-radius: 10px;
          margin-bottom: 0.5rem;
          cursor: pointer;
          position: relative;
          transition: all 0.1s;
          color: #4e449a;
          font-size: 1rem;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 10px 0 30px;
            background-color: #84e8f4;
            height: 0;
            width: 0;
            transition: all 0.1s;
          }
        }
        p {
          color: rgb(74, 74, 74);
          font-size: 0.8rem;
          font-weight: 500;
        }

        &:hover {
          button {
            background-color: #4e449a;
            transition: all 0.1s;
            color: #fff;
          }

          button::before {
            height: 25px;
            width: 25px;
            transition: all 0.1s;
          }
          p {
            font-weight: bold;
            transition: all 0.1s;
            color: #4e449a;
          }
        }
      }
    }

    .four-button {
      margin-top: 2rem;
    }

    .bottom-stat {
      margin-top: 2rem;
      margin-bottom: 3rem;
      padding-left: 15px;

      @media screen and (min-width: $breakpoint-large) {
        padding-right: 2rem;
      }
      @media screen and (min-width: $breakpoint-xLarge) {
        padding-right: 2rem;
      }

      p {
        font-size: 1rem;

        span {
          font-weight: bold;
        }
      }

      small {
        font-weight: bold;
        opacity: 0.8;
      }

      .progress-bar {
        margin-top: 0.7rem;
        width: 100%;
        background-color: #f6f9ff;
        height: 8px;
        border-radius: 6px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 8px;
          border-radius: 6px;
          background-color: #ff6e91;
          width: 79%;
        }
      }
    }

    .bottom-button {
      padding-left: 15px;
      button {
        background-color: #4e449a;
        color: #fff;
        border: none;
        width: 90%;
        height: 48px;
        border-radius: 13px;
        margin-bottom: 2rem;
        cursor: pointer;
        font-size: 1rem;
      }
    }
  }

  .middle-col {
    .col-top {
      height: 110px;
      display: flex;
      align-items: center;
      // justify-content: center;

      @media screen and (min-width: $breakpoint-large) {
        justify-content: flex-start;
      }

      .searchBar {
        width: 75%;
        position: relative;

        @media screen and (min-width: $breakpoint-large) {
          width: 65%;
        }

        input {
          width: 98%;
          height: 60px;
          border: 1px solid rgba(128, 128, 128, 0.159);
          border-radius: 10px;
          padding-left: 60px;
          font-size: 1rem;
          outline: none;
          &:focus {
            outline: 1px solid #8b82ce22;
          }
        }

        button {
          position: absolute;
          left: 30px;
          top: 22px;
          font-size: 1rem;
          background-color: inherit;
          border: none;
          cursor: pointer;
        }
      }

      .selectBar {
        position: relative;

        select {
          width: 110px;
          height: 60px;
          border: 1px solid rgba(128, 128, 128, 0.159);
          border-radius: 10px;
          background-color: inherit;
          padding: 0 1rem;
          font-size: 1rem;
          cursor: pointer;
          outline: none;
          /* Hide the default arrow */
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;

          background-image: url("../assets/images/icons/downArrow.png");
          background-repeat: no-repeat;
          background-position: 80px 25px;
          background-size: 12px;

          @media screen and (min-width: $breakpoint-small) {
            width: 150px;
            background-position: 120px 25px;
          }
          @media screen and (min-width: $breakpoint-xLarge) {
            width: 230px;
            background-position: 200px 25px;
          }

          // &:focus {
          //   outline: 1px solid #4e449a3e;
          // }
        }
      }
    }

    .top-cards-container {
      display: flex;
      overflow-x: scroll;
      padding-bottom: 2rem;
      gap: 1.5rem;

      &::-webkit-scrollbar {
        height: 0;
      }

      // @media screen and (min-width: $breakpoint-large) {
      //   width: 95%;
      // }

      .top-card {
        flex-shrink: 0;
        width: 250px !important;
        cursor: pointer;
        padding: 1rem;
        border-radius: 10px;

        .top-card-header {
          display: flex;
          justify-content: space-between;
          img {
            width: 35px;
          }

          .fa-ellipsis-vertical {
            color: #4e449a;
            font-size: 1.5rem;

            padding: 0 8px 0 8px;
            cursor: pointer;
          }
        }

        h3 {
          color: #4e449a;
          margin-top: 0.2rem;
          font-size: 1rem;
        }

        .top-card-bottom {
          display: flex;
          justify-content: space-between;
          margin-top: 0.8rem;

          small {
            font-size: 0.7rem;
            color: #4e449a;
            font-weight: bold;
          }
        }
      }

      .firstCard {
        background-color: #f4f3ff;
        box-shadow: 0 40px 20px #f6f5ffc5;
      }

      .secondCard {
        background-color: #eefffa;
        box-shadow: 0 40px 20px #f5fffccd;
      }
      .thirdCard {
        background-color: #fff6ea;
        box-shadow: 0 40px 20px #fff9f1a4;
      }
      .fourthCard {
        background-color: #fff2f3;
        box-shadow: 0 40px 20px #fff5f4cb;
      }
    }

    .quick-access-root {
      h1 {
        color: #4e449a;
        font-size: 1.2rem;
        margin-bottom: 0.7rem;
      }

      .quick-access-card-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        @media screen and (min-width: $breakpoint-small) {
          grid-template-columns: 1fr 1fr;
        }
        @media screen and (min-width: $breakpoint-xLarge) {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }

      .quick-access-card {
        cursor: pointer;

        .img-container {
          height: 130px;
          overflow: hidden;

          @media screen and (min-width: $breakpoint-small) {
            height: 120px;
          }
          @media screen and (min-width: $breakpoint-large) {
            height: 100px;
          }

          @media screen and (min-width: $breakpoint-2xLarge) {
            height: 100px;
          }
          @media screen and (min-width: $breakpoint-3xLarge) {
            height: 120px;
          }

          img {
            width: 100%;
          }
        }

        .card-bottom {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 5px;
          background-color: rgba(167, 165, 165, 0.159);
          border-radius: 0 0 20px 20px;

          p {
            font-size: 1.5rem;
            margin-right: 0.7rem;
            color: #269e4a;
          }

          .videoIcon {
            color: #f84d73;
          }

          .pdfIcon {
            color: #4e449a;
          }

          h5 {
            font-size: 0.8rem;
            color: rgba(0, 0, 0, 0.89);
            span {
              color: rgba(0, 0, 0, 0.393);
            }
          }
        }
      }
    }

    .middle-bottom {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      margin-top: 1.5rem;

      @media screen and (min-width: $breakpoint-2xLarge) {
        grid-template-columns: 1fr 1fr;
      }

      .middle-bottom-left {
        h1 {
          color: #4e449a;
          font-size: 1.2rem;
          margin-bottom: 0.7rem;
        }

        .container {
          display: grid;
          grid-template-columns: 1fr 6fr 3fr;
          gap: 1rem;
          margin-bottom: 0.7rem;
          cursor: pointer;
          border-radius: 10px;

          &:hover {
            background-color: rgba(214, 214, 214, 0.184);
          }

          .image {
            display: flex;
            align-items: center;
            img {
              width: 100%;
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4 {
              color: #38326bd9;
              font-size: 0.9rem;
            }
            small {
              font-size: 0.7rem;
              font-weight: bold;
              opacity: 0.6;
            }
          }

          .last-info {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 1rem;

            @media screen and (min-width: $breakpoint-2xLarge) {
              justify-content: center;
              padding-right: 0;
            }

            p {
              font-size: 0.8rem;
              color: #4e449a;
              font-weight: bold;
              opacity: 0.7;
            }
          }
        }
      }

      .middle-bottom-right {
        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h1 {
            color: #4e449a;
            font-size: 1.2rem;
            margin-bottom: 0.7rem;
          }
          h2 {
            color: #4e449a;
            font-size: 1.2rem;
            cursor: pointer;
            padding: 0 1rem;
          }
        }

        .container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 1rem;
          row-gap: 1rem;

          @media screen and (min-width: $breakpoint-small) {
            column-gap: 1.5rem;
            row-gap: 1.5rem;
          }

          .card {
            background-color: #ebedfa;
            padding: 1rem 1.3rem;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.1s;

            @media screen and (min-width: $breakpoint-small) {
              padding: 1rem 1rem;
            }

            &:hover {
              background-color: #ebedfaa2;
            }

            h4 {
              color: #4e449a;
              font-size: 1.3rem;
            }

            h3 {
              color: rgba(0, 0, 0, 0.748);
              font-size: 0.7rem;
              margin-top: 0.3rem;
              font-weight: bold;

              @media screen and (min-width: 380px) {
                font-size: 0.8rem;
              }

              @media screen and (min-width: $breakpoint-small) {
                font-size: 1rem;
              }
            }
            small {
              opacity: 0.7;
              font-size: 0.5rem;

              @media screen and (min-width: 370px) {
                font-size: 0.7rem;
              }
            }
          }
        }

        .openFileButton {
          margin-top: 1rem;
          margin-bottom: 2rem;

          @media screen and (min-width: $breakpoint-2xLarge) {
            margin-bottom: 0;
          }

          button {
            background-color: #dee1e6c2;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 10px;
            color: #4e449af2;
            font-size: 1.1rem;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }

  .right-col {
    // display: none;

    @media screen and (min-width: $breakpoint-large) {
      // display: block;
    }

    .col-top {
      height: 110px;

      display: none;

      @media screen and (min-width: $breakpoint-medium) {
        align-items: center;
        justify-content: flex-end;
        display: flex;

        .bell {
          font-size: 1.5rem;
          color: gray;
        }

        .user {
          display: flex;
          align-items: center;
          margin-left: 1rem;

          @media screen and (min-width: $breakpoint-2xLarge) {
            margin-left: 2rem;
          }

          .user-image {
            width: 50px;
            height: 50px;
            background-color: rgba(201, 201, 201, 0.258);
            display: grid;
            place-items: center;
            border-radius: 50%;
            font-size: 1.4rem;
            color: #4e449a;
          }

          .user-info {
            margin-left: 0.5rem;

            display: flex;
            flex-direction: column;
            justify-content: center;

            h4 {
              font-size: 1rem;
            }
            small {
              font-size: 0.7em;
              font-weight: bold;
              opacity: 0.8;
            }
          }
        }

        .bars {
          margin-left: 1.5rem;
          display: block;

          @media screen and (min-width: $breakpoint-large) {
            display: none;
          }

          button {
            font-size: 2rem;
            border: none;
            background-color: inherit;
            color: #4e449a;
          }
        }
      }
    }

    .shared-folder {
      h1 {
        color: #4e449a;
        font-size: 1.2rem;
        margin-bottom: 0.7rem;
      }

      .container {
        .card {
          display: grid;
          grid-template-columns: 1fr 8fr 4fr;
          gap: 0.5rem;
          margin-bottom: 0.6rem;
          cursor: pointer;
          border-radius: 10px;
          transition: all 0.1s;
          padding: 0.3rem 0;

          &:hover {
            background-color: rgba(199, 199, 199, 0.159);
          }

          .card-icon {
            background-color: #dee1e8;
            height: 40px;
            width: 40px;
            display: grid;
            place-items: center;
            border-radius: 10px;
            color: #4e449a;
            opacity: 0.6;
          }

          .card-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 0.5rem;

            h3 {
              font-size: 0.9rem;
              color: #241f44ed;
              opacity: 0.9;
            }

            small {
              font-size: 0.7rem;
              opacity: 0.5;
              font-weight: bold;
            }
          }

          .card-time {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            p {
              font-size: 0.7rem;
              font-weight: bold;
              opacity: 0.5;
            }
          }
        }
      }
    }

    .bottom-banner {
      margin-top: 2rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .bottom-banner-inner {
        height: 150px;
        width: 80%;

        background-color: rgba(200, 200, 200, 0.214);
        border-radius: 10px;
        border: 1px dotted #4e449a5b;
      }

      img {
        position: absolute;
        width: 90%;
        left: 0;
      }
    }
  }
}
