// below large screen mobile side bar will be visible

// Define breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xLarge: 1200px;
$breakpoint-2xLarge: 1440px;
$breakpoint-3xLarge: 1600px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.root-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 0 1rem;

  @media screen and (min-width: $breakpoint-small) {
    padding: 0 1.5rem;
  }
  @media screen and (min-width: $breakpoint-medium) {
    grid-template-columns: 6fr 4fr;
  }

  @media screen and (min-width: $breakpoint-large) {
    grid-template-columns: 220px 5fr 5fr;
  }
  @media screen and (min-width: $breakpoint-xLarge) {
    grid-template-columns: 220px 5fr 5fr;
  }

  @media screen and (min-width: $breakpoint-2xLarge) {
    grid-template-columns: 220px 7fr 3fr;
  }

  .left-col {
    display: none;

    @media screen and (min-width: $breakpoint-large) {
      display: block;
    }

    .col-top {
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: $breakpoint-large) {
        justify-content: flex-start;
        padding-left: 15px;
      }

      .logo-text {
        background-color: #4e449a;
        border-radius: 50%;
        display: grid;
        place-items: center;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        font-size: 1.2rem;
        height: 35px;
        width: 35px;
      }

      .info-text {
        padding-left: 2rem;
        cursor: pointer;
        padding-left: 0.8rem;

        h4 {
          color: #4e449a;
          font-size: 1.2rem;
          font-weight: 800;
        }
      }
    }

    .content {
      min-height: calc(100vh - 110px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .six-button,
    .four-button {
      @media screen and (min-width: $breakpoint-large) {
        padding-right: 2rem;
      }
      @media screen and (min-width: $breakpoint-xLarge) {
        padding-right: 2rem;
      }

      .buttonContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        gap: 2rem;
      }

      .single-button-container {
        display: grid;
        place-items: center;
        margin-bottom: 0.5rem;
        width: 100%;
        cursor: pointer;

        button {
          background-color: #eceff7;
          border: none;
          width: 50px;
          height: 50px;
          border-radius: 10px;
          margin-bottom: 0.5rem;
          cursor: pointer;
          position: relative;
          transition: all 0.1s;
          color: #4e449a;
          font-size: 1rem;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 10px 0 30px;
            background-color: #84e8f4;
            height: 0;
            width: 0;
            transition: all 0.1s;
          }
        }
        p {
          color: rgb(74, 74, 74);
          font-size: 0.8rem;
          font-weight: 500;
        }

        &:hover {
          button {
            background-color: #4e449a;
            transition: all 0.1s;
            color: #fff;
          }

          button::before {
            height: 25px;
            width: 25px;
            transition: all 0.1s;
          }
          p {
            font-weight: bold;
            transition: all 0.1s;
            color: #4e449a;
          }
        }
      }
    }

    .four-button {
      margin-top: 2rem;
    }

    .bottom-stat {
      margin-top: 2rem;
      margin-bottom: 3rem;
      padding-left: 15px;

      @media screen and (min-width: $breakpoint-large) {
        padding-right: 2rem;
      }
      @media screen and (min-width: $breakpoint-xLarge) {
        padding-right: 2rem;
      }

      p {
        font-size: 1rem;

        span {
          font-weight: bold;
        }
      }

      small {
        font-weight: bold;
        opacity: 0.8;
      }

      .progress-bar {
        margin-top: 0.7rem;
        width: 100%;
        background-color: #f6f9ff;
        height: 8px;
        border-radius: 6px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 8px;
          border-radius: 6px;
          background-color: #ff6e91;
          width: 79%;
        }
      }
    }

    .bottom-button {
      padding-left: 15px;
      button {
        background-color: #4e449a;
        color: #fff;
        border: none;
        width: 90%;
        height: 48px;
        border-radius: 13px;
        margin-bottom: 2rem;
        cursor: pointer;
        font-size: 1rem;
      }
    }
  }

  .middle-col {
    .col-top {
      height: 110px;
      display: flex;
      align-items: center;
      // justify-content: center;

      @media screen and (min-width: $breakpoint-large) {
        justify-content: flex-start;
      }

      .searchBar {
        width: 75%;
        position: relative;

        @media screen and (min-width: $breakpoint-large) {
          width: 65%;
        }

        input {
          width: 98%;
          height: 60px;
          border: 1px solid rgba(128, 128, 128, 0.159);
          border-radius: 10px;
          padding-left: 60px;
          font-size: 1rem;
          &:focus {
            outline: 1px solid #4e449a3e;
          }
        }

        button {
          position: absolute;
          left: 30px;
          top: 22px;
          font-size: 1rem;
          background-color: inherit;
          border: none;
          cursor: pointer;
        }
      }

      .selectBar {
        position: relative;
        select {
          width: 110px;
          height: 60px;
          border: 1px solid rgba(128, 128, 128, 0.159);
          border-radius: 10px;
          background-color: inherit;
          padding: 0 1rem;
          font-size: 1rem;

          /* Hide the default arrow */
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;

          background-image: url("../assets/images/icons/downArrow.png");
          background-repeat: no-repeat;
          background-position: 80px 25px;
          background-size: 12px;

          @media screen and (min-width: $breakpoint-small) {
            width: 150px;
            background-position: 120px 25px;
          }
          @media screen and (min-width: $breakpoint-xLarge) {
            width: 230px;
            background-position: 200px 25px;
          }

          &:focus {
            outline: 1px solid #4e449a3e;
          }
        }
      }
    }

    .top-cards-container {
      display: flex;
      overflow-x: scroll;
      padding-bottom: 3rem;
      gap: 1.5rem;

      &::-webkit-scrollbar {
        height: 0;
      }

      // @media screen and (min-width: $breakpoint-large) {
      //   width: 95%;
      // }

      .top-card {
        flex-shrink: 0;
        width: 250px !important;
        // margin-right: 1.2rem;
        padding: 1.2rem;
        border-radius: 10px;

        .top-card-header {
          display: flex;

          justify-content: space-between;
          img {
            width: 35px;
          }

          .fa-ellipsis-vertical {
            color: #4e449a;
            font-size: 1.5rem;
            cursor: pointer;
          }
        }

        h3 {
          color: #4e449a;
          margin-top: 1rem;
          font-size: 1.1rem;
        }

        .top-card-bottom {
          display: flex;
          justify-content: space-between;
          margin-top: 0.8rem;

          small {
            font-size: 0.7rem;
            color: #4e449a;
            font-weight: bold;
          }
        }
      }

      .firstCard {
        background-color: #f4f3ff;
        box-shadow: 0 40px 20px #f6f5ffc5;
      }

      .secondCard {
        background-color: #eefffa;
        box-shadow: 0 40px 20px #f5fffccd;
      }
      .thirdCard {
        background-color: #fff6ea;
        box-shadow: 0 40px 20px #fff9f1a4;
      }
      .fourthCard {
        background-color: #fff2f3;
        box-shadow: 0 40px 20px #fff5f4cb;
      }
    }
  }

  .right-col {
    // display: none;

    @media screen and (min-width: $breakpoint-large) {
      // display: block;
    }

    .col-top {
      height: 110px;

      display: none;

      @media screen and (min-width: $breakpoint-small) {
        align-items: center;
        justify-content: flex-start;
        display: flex;
      }
    }
  }
}
